        header div {display: flex; justify-content: center; }
        header h1 {color: #0087cc; font-family: sans-serif;font-size: 3em;white-space: nowrap;margin-left: 5px; }
        header{ display: flex; align-items: center; justify-content: center; margin: 0 auto; margin-top: 40px; margin-bottom: 40px; width: 1940px;}
        header:hover{ opacity: 0.7;}
        main { margin: 0 auto; width: 1940px; }
        main nav ul { display: flex;flex-flow: nowrap; justify-content: flex-end; width: 100%;}
        main nav ul li {list-style-type: none;}
        main nav ul li a { display: inline-flex; border: 1px solid #0087cc; padding: 5px 15px; text-decoration: none; color: #fff; text-align: center; background-color:#0087cc;}
        main nav ul li a:hover {color: #ddd; background-color: #0087cc;}
        main nav { display: flex; border: 1px solid black;background-color: #0087cc; width: 1940px; /* Fixe la largeur du conteneur */margin: 0 auto; }
        main section{ width: calc(1940px * 0.85) ; margin: 0 auto; /* Centrer le container horizontalement */display: flex;justify-content: center; /* Centrer les colonnes à l'intérieur du container */}
        main section article { flex: 1; max-width: calc(1940px * 0.85 / 3); padding: 15px; }
        p{color: #555;text-align: justify;width: 500px;}
        h2{ margin: 0; padding: 0; }
        .date{color: #929292;}
        .liens {color: #0087cc; text-decoration: none;font-weight: bold;font-size: 1.5em; }
        .liens:hover{color: #ff7b29;}
        figure { display: flex; flex-direction: column;margin: 0 auto; }
        figcaption{color: #0087cc;font-weight: bold;font-size: 1em; width: 500px; white-space: normal;}
        .mots{color: #0087cc;}
        article figure img {width: 500px;height: auto;padding-top: 20px;padding-bottom: 10px;display: flex;}
        .pieds{color: #0087cc;font-size: 2em;font-weight: bold;text-align: center;}
        .pieds1{color: black;font-size: 2em;font-weight: bold;text-align: center;}
        .pieds2{color: #929292;font-size: 1em;text-align: center;}
        footer{display: flex;flex-direction: column;align-items: center; justify-content: center;width: 1940px; margin: 0 auto;  }
        footer div {display: inline-flex;justify-content: center; /* Centre les icônes à l'intérieur */ width: 100%;}
        footer div a:hover{ opacity: 0.7;}