   body {background: linear-gradient(to top, #fafafa, #000);}

   #main { width: 1180px; margin: 0 auto; padding: 0; box-sizing: border-box; border-radius: 12px; box-shadow: 5px 5px 10px #888;  background-color: white;}

   #h1 { text-align: center; color: #139c19; font-family: sans-serif; font-size: 3em; text-shadow: 5px 5px 5px #000;}

   #box{ margin: 0 auto; border-radius: 50px; background: linear-gradient(to top, #444, #111);width: 1100px; box-shadow: 10px 10px 10px #9c9c9c;     }
    
   .menu{ color: #f2f2f2;font-family: cursive; font-size: 1em;}
    
                                           /* Styles de navigation sommaire */
    
   .nav { display: inline-block;text-align: center; padding: 10px; box-sizing: border-box; color: white; text-decoration: none; }
   .nav:hover { background: linear-gradient(to top, #19b123, #139c19); color: white; text-shadow: 3px 3px 3px black;
  text-decoration: none;/* Suppression du soulignement au survol */}
   .item { display: inline-block;}
   .item > a { display: inline-block;  text-decoration: none;text-align: center; }
   .item a:hover {color: white;text-decoration: none;background-color: green;}
    
                                             /* Menu déroulant */
    
    .panneau {background: linear-gradient(to top, #19b123, #139c19); display: none;position: absolute;width: 550px;  padding: 0; margin: -5px 0 0 -5px; /* Marges négatives pour déplacer la bordure */list-style-type:none; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border-left: 5px solid #444; /* Bordure seulement à gauche */border-right: 5px solid #444; /* Bordure seulement à droite */border-bottom: 5px solid #444;/* Bordure seulement en bas */border-top: none; /* Pas de bordure en haut */}
    .item:hover .panneau{display: block;}
    .panneau img { display: inline-block;  width: 275px; height: 175px; object-fit: contain; float: right; padding: 0; margin: 0;}
    .container-panneau-menu {  text-align: center; /* Centrer le conteneur */ overflow: hidden; /* Éviter que le contenu dépasse */}
    .container-panneau-menu h3 { display: inline-block; color: #000; font-size: 1em;   margin: 0  ; margin-top: 20px; margin-bottom: 20px; }
    .container-panneau-menu ul { margin: 0 auto; padding: 0; list-style-type: none; /* Supprimer les puces */ }
    .clearfix-overflow { overflow: hidden; }
    .container-panneau-menu a { display: block; color: white; text-align: center; font-size: 0.9em; text-decoration: none; }
    .container-panneau-menu a:hover { text-decoration: none; background-color: transparent; color:#ededed ;text-shadow: 1px 1px 1px black;}
    .image { clear: both;}

                                            /*corps de la page*/
    
    .image-flottante { width: 350px; height: auto;float: left; margin-left: -40px; /* Espace entre l'image et le texte */
    margin-bottom: 15px; /* Espace en bas de l'image */margin-right: 15px;}
    .h2{margin-left: 10px; color: #139c19; font-family: sans-serif; font-size: 2em ; text-shadow: 3px 3px 3px #000 ; width: auto;white-space: nowrap;display: inline-block;vertical-align: middle;}
    .rond{ width: 40px;height: 40px;background: #139c19;border-radius: 100% 0 0 100%;display: inline-block;vertical-align: middle; }
    .container_rond{ display: inline-block; margin-left: 40px;}
    
                            /* Style pour les images à l'intérieur des paragraphes */
    
    .div1 img {width: 300px;margin: 0;padding: 0;}
    .p {margin-left: 40px;margin-right: 40px; color: black;text-align: justify;}
    .p1{color: #777;font-style: italic;margin-left: 40px;margin-right: 40px;text-align: justify;}
    
                             /* Conteneurs des colonnes */
  
                             /* Conteneur principal */
     .colonne {display: table; width: 100%; overflow: hidden; /* Pour contenir les flottants */ }

                              /* Colonne de gauche */
    
    .column-left { float: left; box-sizing: border-box; /* Ajustement pour les bordures et les marges */ border-right: 5px solid #888; /* Ajout de la bordure droite */  width: 70%; /* 70% pour la colonne de gauche */ box-sizing: border-box; /* Ajustement pour les bordures et les marges */ margin-top: 5px; }

                                /* Colonne de droite */
    
    .column-right { float: right; width: 30%; /* 30% pour la colonne de droite */ box-sizing: border-box; /* Ajustement pour les bordures et les marges */}
        
                         /* Style  à l'intérieur des paragraphes */  
    
    .div2 img {margin-top: 300px ;padding: 0; margin-right: 40px; width: 300px; }
    .p2{column-count: 2; column-rule-color: #888; column-rule-style: solid; text-align: justify; column-gap:40px; margin: 0 40px; margin-bottom: 40px;}
    .ligne{width: calc(1180px - 80px);height: 5px;background-color: #139c19;} 
    .h3{padding: 5px; font-size: 12px; color: #139c19; font-family: sans-serif;text-shadow: 1px 1px 1px #000;}
    .p3{padding: 5px; margin: 0; font-size: 10px;color: black;text-align: justify; width: 300px;}
     footer { background-color: white; padding: 20px; /* Pour que le footer soit centré par rapport au conteneur parent */ text-align: center; /* Centre le contenu à l'intérieur du footer */}
    footer a { display: inline-block; width: 100px; height: 50px; line-height: 50px; text-align:center; background-color: #139c19; color: #e9f6e9; text-decoration: none; border-radius: 50px; }
    footer a:hover { background-color: rgba(21,165,29,0.5);color: #000; }