.header-row {
    display: flex;
    align-items: center;/* alignement vertical */
    justify-content: space-between;/* h1 à gauche, bouton à droite */
    margin-bottom: 20px;
}

.btn-cv {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-cv:hover {
    background-color: #0056b3;
}
