body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  max-width: 80%;
  margin: 0 auto;
  min-height: 100vh; 
  
}
.container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

img {
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Zone de texte éclaircie */ 
.text-box {
    background: rgba(255, 255, 255, 0.75); 
/* blanc semi-transparent */ 
    padding: 20px; 
    border-radius: 12px; 
    max-width: 800px; 
    width: 100%; 
 }

.header-row {
    display: flex;
    align-items: center;/* alignement vertical */
    justify-content: space-between;/* h1 à gauche, bouton à droite */
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.75);
    padding: 20px; 
    border-radius: 12px; 
}

.btn-cv {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: white !important;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-cv:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #0056b3;
}
